<header>
  <div class="flex text-[{{section.settings.font_size}}px] {{section.settings.announcement_aligment}} {{section.settings.show_top_header}} justify-between py-{{section.settings.top_bottom_padding}}">
    {%- if section.settings.show_announcement -%}
      <p>{{ section.settings.announcement }}</p>
    {% else %}
      <p></p>
    {%- endif -%}
    <div class="flex gap-12">
      {%- if section.settings.show_country_and_currency -%}
        <div class="flex gap-5">
          <select name="language" id="">
            <option value="English">English</option>
            <option value="Bangla">Bangla</option>
          </select>
          <select name="curency" id="">
            <option value="USD">USD</option>
            <option value="BD">BD</option>
          </select>
        </div>
      {%- endif -%}
      {%- if section.settings.show_shipping_address -%}
        <p>Shipping to: Khulna</p>
      {%- endif -%}
      <div class="flex gap-5">
        <p>Login</p>
        <p>Register</p>
      </div>
    </div>
  </div>
  <hr>
  <h4>menu bar</h4>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "show_top_header",
      "label": "Top Header",
      "options": [
        {
          "value": "block",
          "label": "Visible"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ],
      "default": "block"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "textarea",
      "id": "announcement",
      "label": "Announcement",
      "default": "Announcement of this store"
    },
    {
      "type": "radio",
      "id": "announcement_aligment",
      "label": "Announcement alignment",
      "options": [
        {
          "value": "flex-row",
          "label": "Left"
        },
        {
          "value": "flex-row-reverse",
          "label": "Right"
        }
      ],
      "default": "flex-row"
    },
    {
      "type": "checkbox",
      "id": "show_country_and_currency",
      "label": "Show Country and Currency",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_address",
      "label": "Show Shipping Address",
      "default": true
    },
    {
      "type": "range",
      "id": "top_bottom_padding",
      "min": 0,
      "max": 6,
      "step": 2,
      "unit": "em",
      "label": "Top-Bottom Padding",
      "default": 2
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 13,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
  ]
}
{% endschema %}
